/* Reset CSS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Global Styles */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(183,960,463)'%3E%3Cstop offset='0' stop-color='%230E5908'/%3E%3Cstop offset='1' stop-color='%23000000'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='807' height='672.5' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.16'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;  color: #ffffff;
}

.container {
  max-width: 800px; /* Reduzindo a largura do container */
  margin: 0 auto;
  padding: 20px;
  text-align: center; /* Alinhando o conteúdo no centro */
}

h1 {
  font-size: 66px;
  font-weight: bold;
  color: #ffffff; /* Cor branca para o nome da empresa */
  margin-bottom: 20px;
}

p {
  font-size: 26px;
  margin-bottom: 20px;
}

/* Promo Cards */
.promo-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 40px; /* Adicionando margem inferior para afastar do additional-info */
}

.promo-card {
  width: calc(33.333% - 20px);
  max-width: 300px;
  margin: 10px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.3s ease;
  color: #000000;
  text-decoration: none; /* Removendo sublinhado padrão dos links */
}

.promo-card:hover {
  transform: translateY(-5px);
}

.promo-card .promo-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.promo-card .promo-info {
  font-size: 18px;
  margin-bottom: 10px;
}

.card:hover {
  transform: translateY(-5px); /* Eleva o card ligeiramente quando o cursor passa sobre ele */
}

.card {
  width: 100%; /* Define a largura do card como 100% da largura da página */
  max-width: 700px; /* Define a largura máxima do card */
  margin: 0 auto; /* Define as margens superior e inferior como 0 e as laterais como "auto" para centralizar o card horizontalmente */
  padding: 40px; /* Define o preenchimento interno do card */
  background-color: #ffffff; /* Define a cor de fundo do card */
  border-radius: 10px; /* Define o raio da borda do card para torná-lo arredondado */
  transition: transform 0.3s ease; /* Adiciona uma transição suave ao card */
}

.card h2 {
  font-size: 3em; /* Tamanho do título */
  color: #000000; /* Cor do título */
}

.card .bold {
  font-weight: bold; /* Torna o texto em negrito */
  font-size: 1.2em; /* Tamanho do texto em negrito */
  color: #000000; /* Cor do texto em negrito */
}

.card p {
  font-size: 1.7em; /* Tamanho do texto normal */
  color: #000000; /* Cor do texto normal */
}

.card r {
  font-size: 1em; /* Tamanho do texto normal */
  color: #000000; /* Cor do texto normal */
}

.card ul {
  text-align: left; /* Alinha a lista à esquerda */
  font-size: 1.2em;
}

.card li {
  font-size: 1em; /* Tamanho do texto da lista */
  color: #242121; /* Cor do texto da lista */
}

.card p2 {
  font-size: 1.3em; /* Tamanho do texto da lista */
  color: #242121; /* Cor do texto da lista */
}

.card f {
  font-size: 1.5em; /* Tamanho do texto da lista */
  color: #000000; /* Cor do texto da lista */
}

/* Estilo para telas menores que 600px (por exemplo, smartphones em modo retrato) */
@media screen and (max-width: 600px) {
  .container {
    padding: 10px; /* Reduzindo o preenchimento do container */
  }

  h1 {
    font-size: 40px; /* Reduzindo o tamanho da fonte do cabeçalho */
    margin-bottom: 10px; /* Reduzindo a margem inferior do cabeçalho */
  }

  p {
    font-size: 18px; /* Reduzindo o tamanho da fonte do parágrafo */
    margin-bottom: 10px; /* Reduzindo a margem inferior do parágrafo */
  }

  .promo-card {
    width: calc(50% - 20px); /* Mudando a largura dos cards de promoção para ocupar metade da largura da tela */
    max-width: none; /* Removendo a largura máxima dos cards */
  }
}

/* Estilo para telas menores que 400px (por exemplo, smartphones em modo paisagem) */
@media screen and (max-width: 400px) {
  .promo-card {
    width: calc(100% - 20px); /* Mudando a largura dos cards de promoção para ocupar toda a largura da tela */
  }
}
