/* Reset CSS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Global Styles */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url("");
  background-attachment: fixed;
  background-size: cover;
  color: #ffffff;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 66px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 20px;
}

p {
  font-size: 26px;
  margin-bottom: 20px;
}

/* Promo Cards */
.promo-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 40px;
}

.promo-card {
  width: calc(33.333% - 20px);
  max-width: 300px;
  margin: 10px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.3s ease;
  color: #000000;
  text-decoration: none;
}

.promo-card:hover {
  transform: translateY(-5px);
}

.promo-card h2,
.promo-card p {
  margin: 10px 0;
}

/* Adicionando media queries para tornar a página responsiva em dispositivos móveis */
@media screen and (max-width: 768px) {
  .container {
    padding: 10px;
  }

  h1 {
    font-size: 40px;
  }

  p {
    font-size: 20px;
  }

  .promo-card {
    width: calc(50% - 20px);
    max-width: 300px;
    margin: 10px;
  }
}

@media screen and (max-width: 480px) {
  .promo-card {
    width: calc(100% - 20px);
  }
}
